<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>pagingProductList</title>
</head>
<body>
<table>
    <tr>
        <th>번호</th>
        <th>상품명</th>
        <th>가격</th>
        <th>조회수</th>
        <th>찜</th>
    </tr>
    <tr th:each="product: ${productList}">
        <td th:text="${product.product_id}"></td>
        <!-- 페이지 번호도 함께 가져감-->
<!--        <td><a th:href="@{|/product/${product.product_id}|(page=${productList.number + 1})}" th:text="${product.name}"></a></td>-->
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.views}"></td>
        <td th:text="${product.likes}"></td>
    </tr>
</table>
<!-- 첫번째 페이지로 이동 -->
<!-- /board/paging?page=1 -->
<a th:href="@{/product/paging(page=1)}">First</a>
<!-- 이전 링크 활성화 비활성화 -->
<!-- boardList.getNumber() 사용자:2페이지 getNumber()=1 -->
<a th:href="${productList.first} ? '#' : @{/product/paging(page=${productList.number})}">prev</a>

<!-- 페이지 번호 링크(현재 페이지는 숫자만)
        for(int page=startPage; page<=endPage; page++)-->
<span th:each="page: ${#numbers.sequence(startPage, endPage)}">
<!-- 현재페이지는 링크 없이 숫자만 -->
    <span th:if="${page == productList.number + 1}" th:text="${page}"></span>
    <!-- 현재페이지 번호가 아닌 다른 페이지번호에는 링크를 보여줌 -->
    <span th:unless="${page == productList.number + 1}">
        <a th:href="@{/product/paging(page=${page})}" th:text="${page}"></a>
    </span>
</span>

<!-- 다음 링크 활성화 비활성화
    사용자: 2페이지, getNumber: 1, 3페이지-->
<a th:href="${productList.last} ? '#' : @{/product/paging(page=${productList.number + 2})}">next</a>
<!-- 마지막 페이지로 이동 -->
<a th:href="@{/product/paging(page=${productList.totalPages})}">Last</a>

</body>
<script>
</script>
</html>
